  img {
    height: 350px;
    object-fit: contain;
  }
  .card{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    border: none;
  }
  input{
    width: 500px !important;
    margin-top: 10px;
    /* height: 40px; */
    text-align: center;
  }
  .btn:focus{
    box-shadow: none !important;
    outline: none !important;
  }
  input:focus{
    outline: none !important;
    box-shadow: none !important;
  }
  input::placeholder{
    color: rgb(67, 67, 179) !important;
    text-align: center;
  }
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media(max-width:550px) {
    input{
      width: 300px !important;
    }
    .container{
      margin-top: 10px;
    }
    
  }