<div class="container text-center">
  <p class="fs-4 mt-3">Memes Generator</p>
  <img src="{{memesarray.url}}" [style.display]="start?'':'none'" class="card-img-top" alt="...">
  <!-- <img src="{{urlobj.data.url}}" [style.display]="start?'':'none'" class="card-img-top" alt="..."> -->

  <p class="card-title mt-2 mb-2" [style.display]="start?'':'none'">{{memesarray.name}}</p>
  <form #meme="ngForm" (ngSubmit)="submit(memesarray.id,meme)">
    <input type="text" name="text0" ngModel #text0="ngModel" required class="form-control" autocomplete="off"
      [style.display]="start?'':'none'" placeholder="Text-1">
    <input type="text" name="text1" ngModel #text1="ngModel" required class="form-control" required autocomplete="off"
      [style.display]="start?'':'none'" placeholder="Text-2">

    <button class="btn btn-success mt-3" [disabled]="text0.invalid || text1.invalid" type="submit"
      [style.display]="start?'':'none'">{{loading}}</button>
  </form>

  <div class="btns mt-3">
    <button (click)="prev()" [disabled]="preverr" [style.display]="start?'':'none'" class="btn btn-danger">Prev</button>

    <button (click)="next()" [disabled]="nexterr" [style.display]="start?'':'none'"
      class="btn btn-primary ms-2">Next</button>

    <button (click)="next()" [style.display]="start?'none':''" class="btn btn-success">Start</button>
    <a href="{{urlobj.data.url}}" [style.display]="url?'':'none'" target="_blank" class="btn btn-dark ms-2">OpenUrl</a>
  </div>
  <p class="fs-6 mt-4">Made With &#10084; By Nishidh Parmar</p>
</div>